.profile-header
.container-fluid
  .row.profile-grid-row
    .col-xs-4
      .profile-grids#profile-grid-1
        %span.glyphicon.glyphicon-user
        %h3 Friends
    .col-xs-4
      .profile-grids#profile-grid-2
        %span.glyphicon.glyphicon-th-list
        %h3 Lists
    .col-xs-4
      .profile-grids#profile-grid-3
        %span.glyphicon.glyphicon-bookmark
        %h3 Badges
