%h1 Pieces Near You
- @pieces.each do |p|
  .piece-container{"data-id" => p.id}
    = p.title
    %br
    = p.maker
    %br
    %a.btn.btn-default.btn-xs{:href => new_piece_check_in_path(p)}
      %span.glyphicon.glyphicon-ok
      Check in
    %br
    %br
