%h1 stuff near ya
.row
  - @pieces.each do |p|
    .col-xs-11.col-sm-4.col-lg-3
      .piece-container{"data-id" => p.id}
        .thumbnail
          %img{"src" => "http://placekitten.com/290/200"}
            .caption
              %h3
                = p.title
              %p
                = p.maker
              %p
                %a.btn.btn-primary.btn-md{:href => new_piece_check_in_path(p), :role => "button"}
                  %span.glyphicon.glyphicon-ok
                  Check in
                %br
                %br
