
@import "bootstrap";

body {
  background:image-url('brickwall/brickwall.png');
}

.navbar {
  //Override Bootstrap bottom margin
  margin-bottom: 0px;
}

.col-xs-4 {
  padding: 0px;
}

.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:center;
    /* inline-block space fix */
    margin-right:-4px;
}

.profile-header {
  background: #71C3B9;
  min-height: 320px;
  padding-top: 20px;
}

#profile-username {
  font-weight: bold;
  font-size: 30px;
}

.profile-grid-row {
  margin-top: -50px;
  padding-left: 20px;
  padding-right: 20px;
}

.profile-grids {
  height: 120px;
  color: #D2CFD8;
  text-align: center;
  padding-top: 20px;
}

#profile-grid-1 {
  background: #DB816A;
}

#profile-grid-2 {
  background: #9AB1DB;
}

#profile-grid-3 {
  background: #A59981;
}

.glyphicon-user {
  font-size: 32px;
}

.glyphicon-th-list {
  font-size: 32px;
}

.glyphicon-bookmark {
  font-size: 32px;
}

#checkin-container {
  width: 350px;
  text-align: center;
}

#unfollow-button {
  display:none;
}

#following-button {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
}

.location-container {
  text-align:center;
}

.thumbnail {
  margin-left:auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 0px;
}


